* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f3f6fd;
  font-family: "Comfortaa", cursive;
}

button {
  cursor: pointer;
}

.app {
  display: flex;
}

.logo {
  margin-bottom: 50px;
}

.panel {
  min-height: 100vh;
  padding: 30px;
  background-color: #fff;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.menu__item {
  width: 45px;
  height: 45px;
  background: #ffffff;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
  border-radius: 14px;
  border: none;
}

.menu__item:hover {
  background: #6a6afb;
}

.menu__item:hover img {
  filter: brightness(0) invert(1);
}

.menu__item--active {
  background: #5051f9;
}

.menu__item--active img {
  filter: brightness(0) invert(1);
}

.menu__add {
  width: 45px;
  height: 45px;
  background: none;
  border: 1px solid #cad5ff;
  border-radius: 14px;
}

.menu__add:hover {
  background: #edeff1;
}

.content {
  min-width: 900px;
  padding: 45px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;

  color: #000000;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.progress__text {
  display: flex;
  justify-content: space-between;
  min-width: 235px;
}

.progress__name {
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #232360;
}

.progress__percent {
  font-size: 12px;
  line-height: 13px;

  color: #768396;
}

.progress__bar {
  position: relative;
  width: 100%;
  height: 5px;
  background: #e6e9ed;
  border-radius: 4px;
}

.progress__cover-bar {
  position: absolute;
  width: 50%;
  height: 5px;
  background: #5051f9;
  border-radius: 4px;
}

main {
  margin-top: 30px;
}

.habbit {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.habbit__day {
  min-width: 150px;
  background: #fbfaff;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #e7ebfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #000000;
  padding: 20px 40px;
}

.habbit__comment {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #000000;
  padding: 20px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */

  color: #23235f;
}

.habbit__delete {
  margin-left: auto;
  margin-right: 10px;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 2px;
}

.habbit__delete:hover {
  background: #eff2ff;
}

input {
  width: 100%;
  border: 1px solid #e7ebfb;
  border-radius: 9px;
  padding: 12px 20px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #8899a8;
}

.habbit__form {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #000000;
  padding: 0px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */

  color: #23235f;
  display: flex;
  gap: 15px;
  width: 100%;
}

.input-icon {
  padding-left: 45px;
}

.input--icon {
  position: absolute;
  top: 10px;
  left: 45px;
}

.habbit__add {
  background: #edecfe;
  border-radius: 9px;
  border: none;
  padding: 14px 30px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;

  color: #5051f9;
}

.habbit__add:hover {
  background: #d8d7e3;
}
